@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'Druk Wide Bold';
  src: local('Druk Wide Bold'), url(/fonts/Druk-Wide-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'HK Grotesk Wide';
  src: local('HK Grotesk Wide'), url(/fonts/hkgroteskwide/hkgroteskwide-regular.otf) format('opentype');
}
@font-face {
  font-family: 'HK Grotesk Wide';
  font-weight: 700;
  src: local('HK Grotesk Wide'), url(/fonts/hkgroteskwide/hkgroteskwide-bold.otf) format('opentype');
}
@font-face {
  font-family: 'HK Grotesk Wide';
  font-weight: 900;
  src: local('HK Grotesk Wide'), url(/fonts/hkgroteskwide/hkgroteskwide-extrabold.otf) format('opentype');
}

html{
  max-height: 100vh;
  overflow-y: hidden;
}