@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  html{
    background-color: blueviolet;
    color: #fff;
  }
  
}

@font-face {
  font-family: 'Druk Wide Bold';
  src: url(https://can-ishk.github.io/portfolio/fonts/Druk-Wide-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'HK Grotesk Wide';
  src: url(https://can-ishk.github.io/portfolio/fonts/hkgroteskwide/hkgroteskwide-regular.otf) format('opentype');
}
@font-face {
  font-family: 'HK Grotesk Wide';
  font-weight: 700;
  src: url(https://can-ishk.github.io/portfolio/fonts/hkgroteskwide/hkgroteskwide-bold.otf) format('opentype');
}
@font-face {
  font-family: 'HK Grotesk Wide';
  font-weight: 900;
  src: url(https://can-ishk.github.io/portfolio/fonts/hkgroteskwide/hkgroteskwide-extrabold.otf) format('opentype');
}

html{
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}
a:visited{
  color: #fff;
}

@media screen and (max-width: 768px){
  html{
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

