.container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
    max-width: 95vw;
  }
}

.jobName {
  font-weight: 900;
  margin-bottom: 4rem;
  font-size: 4rem;
  margin-left: 2rem;
  /* text-transform: uppercase; */
  /* margin-right: 5rem; */
  @media screen and (max-width: 768px) {
    margin-left: 1rem;
    font-size: 2rem;
  }
}

.jobName:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  color: transparent;
  cursor: pointer;
}

.companyName{
    font-weight: 900;
    font-size: 2rem;
    /* text-transform: uppercase; */
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
}
.jobContainer{
  @media screen and (max-width: 768px) {
    max-width: 85vw;
  }
}

.container p {
  font-size: 0.75rem;
  font-weight: 900;
  text-align: left;
  margin-left: -2rem;
  /* margin-bottom: 2rem; */
}
