.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8rem;
  align-items: center;
  height: 100vh;
  width: 50vw;
  font-family: "Druk Wide Bold", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  transform-style: preserve-3d;
  perspective: 1200px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(-100%);
      /* color: rgba(150, 0, 210, 0.62); */
  }
  to { opacity: 1 }
}


.headingContainer {
  display: flex;
  justify-content: center;
  animation: fadeInAnimation ease-in-out 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @media screen and (max-width: 768px) {
    animation: none ease-in-out 0.75s;
    
  }
}

.disabled {
  opacity: 0.5;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem;
  cursor: pointer;
}

.projectList {
  margin-top: 4rem;
  display: flex;
  transform: rotateY(-36deg);
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  margin-bottom: 2rem;
  margin-left: -2rem;
  max-height: 80vh;
  text-align: right;
  font-weight: 900;
  font-size: xx-large;
  overflow-y: scroll;
  list-style: none;
  animation: fadeInBottom ease-in-out 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @media screen and (max-width: 768px) {
    animation: none ease-in-out 0.75s;
  }
  @media screen and (min-width: 768px) {
    margin-right: 2rem;
  }
}

.projectList::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 0;
    width: 100vw;
  }
  .heading {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .container {
    margin: 0;
    /* margin-left: -2rem; */
    overflow-x: hidden;
  }
}
