.container {
  display: flex;
  justify-content: center;
}

.projectName {
  font-weight: 900;
  margin-bottom: 4rem;
  font-size: 4rem;
  /* text-transform: uppercase; */
}

.projectName:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  color: transparent;
  cursor: pointer;
}

.container p {
  font-size: 0.75rem;
  font-weight: 900;
  /* margin-bottom: 2rem; */
}
